.materiasPrimas__contenedor-seleccion{
    display: flex;
    flex-direction: column;
    background: gray;
    border-radius: 5px;
    height: max-content;

}
.btnMP{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    cursor: pointer;
    background: gray;
    padding: 10px;
    border-bottom: white 1px solid;
}

.titulo{
    justify-self: center;
    text-align: center;

}
h1{
    font-size: 2rem;
}
.primerContenedor{
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.materiasPrimas__contenedor{
    display: flex;
    flex-direction: row;
}

.materiasPrimas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seleccion__lista{
    margin-left: 40px;
    margin-top: 10px;
}
.seleccion__lista li{
    margin: 0 0 15px 0;
}

.seleccion__lista-propiedad{
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.25s ease-out;
    color: blue;

}
.seleccion__lista div:hover li ~ .seleccion__lista-propiedad{
    height: 115px;
    visibility: visible;
    transition: all 0.5s ease-in;

}

ul{
    width: 200px;
    padding: 0;
}
ul li{
    list-style-type: none;

}
.gridLista{
    display: grid;
    grid-template-columns: 200px 200px;

}
.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


