<section class="primerContenedor">
  <article class="segundoContenedor">
    <header class="titulo"><h1>Formulador de Aliemntos Balanceados</h1></header>
    <section class="cuerpo">
      <nav>
        <img
          src="../../../assets/angel.png"
          alt="Angel Mora"
          title="Anegl Mora"
        />
      </nav>
      <header><h1>Creador: Angel Mora</h1></header>
      <aside>
        <p>
            Este es un proyecto diseñado principalmente para que las industrias de alimentos 
            balanceados puedan evaluar la calidad de su producto terminado antes de elaborarlo. 
            Para ello, necesitan conocer que ingredientes usaran, su proporcion y cual sera el 
            resultado.</p>
   

        <p>La aplicacion facilita los calculos necesarios para conocer esta informacion de una 
            manera rapida y segura. Los resultados, pueden ser distintos a los resultados obtenidos 
            al elaborar el alimento, dado  que, estos resultados asumen un ideal donde 
            las fallas humanas y operacionales no se dan.</p>

        <p>El proyecto se elaboro usando el framework AngularJS para la parte del frontend.
        Para el backend se uso Python con Django y Flask y como base de datos MySQL.</p>
      </aside>
    </section>
  </article>
</section>
